
<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>

<div>
 <%= link_to "Create Group", newgroup_path, class: "btn btn-med btn-primary" %>
</div>

<div class="span8">
    <% if @user.groups.any? %>
      <h3>Groups (<%= @user.groups.count %>)</h3>
      <ol class="groups">
        <%= render @groups %>
      </ol>
      <%= will_paginate @groups %>
    <% end %>
  </div>


<br><br><br>
<div id="calendar">
  <%= calendar_for(@users) do |t| %>
  <%= t.head('mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun') %>
  <%= t.day do |day, users| %>
    <%= day.day %>
    <% users.each do |user| %>
      <%= h(user.name) %>
    <% end %>
  <% end %>
<% end %>


</div>